*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:white;
    font-family:'Poppins', sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:black;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#e50914;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#e50914;
}

.hero{
    height:90vh;
    background:url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1200') center/cover;
    display:flex;
    align-items:center;
    padding:60px;
}

.hero-content{
    max-width:600px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

button{
    padding:14px 30px;
    background:#e50914;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#ff1e28;
}

.movies-section{
    padding:50px;
}

.movies-section h2{
    margin-bottom:30px;
    font-size:32px;
}

.movies-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.movie-card{
    width:250px;
    background:#1c1c1c;
    border-radius:15px;
    overflow:hidden;
    transition:0.3s;
}

.movie-card img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.movie-card h3{
    padding:15px;
}

.movie-card:hover{
    transform:translateY(-10px);
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:40px;
    }

    .movies-container{
        justify-content:center;
    }
}